In [159]:
import numpy as np
import pandas as pd
pima_df = pd.read_csv("C:/Users/micha/PycharmProjects/Docs/diabetes_uncleaned_data.csv")

display(pima_df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
3,11.0,132.0,83,11,376,4.1,2.772,NaN,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
...,...,...,...,...,...,...,...,...,...
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1000,6.0,NaN,10,4,640,55.7,2.483,79.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [160]:
# Part2 Question 1:  In your Jupyter Notebook, find columns with missing data.
missing = pima_df
pima_df.isna().sum()

Pregnancies                 114
Glucose                      16
BloodPressure                22
SkinThickness                 0
Insulin                       0
BMI                           1
DiabetesPedigreeFunction      0
Age                          22
Outcome                       0
dtype: int64

In [161]:
# Part2 Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df.
display(pima_df.count())
pima_missing_fixed_df = pima_df.dropna(how="any")
pima_missing_fixed_df.count()

Pregnancies                  890
Glucose                      988
BloodPressure                982
SkinThickness               1004
Insulin                     1004
BMI                         1003
DiabetesPedigreeFunction    1004
Age                          982
Outcome                     1004
dtype: int64

Pregnancies                 840
Glucose                     840
BloodPressure               840
SkinThickness               840
Insulin                     840
BMI                         840
DiabetesPedigreeFunction    840
Age                         840
Outcome                     840
dtype: int64

In [162]:
# Question 3:  Print out the number of rows in the dataframe
print(len(pima_df))

1004

In [163]:
#Part3 Question 1:  In your Jupyter Notebook, find the rows of duplicated data in the pima_missing_fixed_df and print them.  
print(pima_missing_fixed_df.duplicated())

0       False
1       False
2       False
4       False
5       False
        ...
998     False
999      True
1001    False
1002    False
1003     True
Length: 840, dtype: bool

In [164]:
# part3 Question 2:  Write code to remove the duplicate rows and save the new dataframe as pima_dedupped_df
pima_dedupped_df = pima_missing_fixed_df.drop_duplicates()
pima_dedupped_df.count()
pima_dedupped_df.info

<bound method DataFrame.info of       Pregnancies  Glucose BloodPressure  SkinThickness  Insulin   BMI  \
0             3.0    167.0            39             28      545  53.0
1            13.0    151.0           107             38    10000   9.2
2             8.0     59.0           109             18      739  59.1
4            10.0    165.0            48             37      737  39.4
5          -100.0    142.0            88             39       82  42.7
...           ...      ...           ...            ...      ...   ...
996           6.0    117.0            91             28      212   1.0
997          13.0    163.0            10             37      457   8.0
998           6.0    110.0            26             27      590  20.8
1001          4.0     80.0            24              6      268  48.9
1002          3.0    142.0         Error             10      299   4.8

      DiabetesPedigreeFunction    Age Outcome
0                        2.447  125.0   FALSE
1                        0.507  148.0   FALSE
2                        1.769   91.0    TRUE
4                        0.729   73.0   FALSE
5                        1.369  148.0    TRUE
...                        ...    ...     ...
996                      1.969  137.0   FALSE
997                      2.400  125.0    TRUE
998                      1.185   95.0   FALSE
1001                     0.989   81.0    TRUE
1002                     2.411   71.0    TRUE

[836 rows x 9 columns]>

In [165]:
# part3 Question 3: Print out the number of rows in the dataframe
(len(pima_dedupped_df))

836

In [166]:
# part4 Question 1: In your Jupyter notebook, find the columns where most of the data seems to be one type of data, and there seems 
# to be a data error. In the markdown, after exploring in code, add a markdown cell discussing which columns # have the data error. 
# display(pima_dedupped_df)
# pima_dedupped_df.dtypes
display(pima_dedupped_df['Pregnancies'].value_counts())

Pregnancies
 8.0      73
 7.0      73
 3.0      64
 13.0     63
 10.0     61
 6.0      61
 11.0     61
 12.0     61
 0.0      58
 4.0      58
 9.0      57
 1.0      52
 2.0      48
 5.0      45
-100.0     1
Name: count, dtype: int64

In [167]:
display(pima_dedupped_df['Glucose'].value_counts())

Glucose
180.0    11
142.0    10
39.0      9
156.0     9
131.0     8
         ..
175.0     1
113.0     1
100.0     1
53.0      1
61.0      1
Name: count, Length: 196, dtype: int64

In [168]:
display(pima_dedupped_df['Outcome'].value_counts())

Outcome
FALSE    441
TRUE     394
ERROR      1
Name: count, dtype: int64

In [169]:
# part4 Question 2: Remove the rows with data errors in your jupyter notebook.
pima_df.dropna(how="any")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [170]:
display(is_iqr_outlier(pima_dedupped_df['Pregnancies']))

display(pima_dedupped_df[is_iqr_outlier(pima_dedupped_df['Pregnancies'])])

0       False
1       False
2       False
4       False
5        True
        ...
996     False
997     False
998     False
1001    False
1002    False
Name: Pregnancies, Length: 836, dtype: bool

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE

In [171]:
# part4 Question 3: After the data is fixed in your columns change the columns 
# to the correct type and save this as the pima_fixed_columns_df.
pima_fixed_columns_df = pima_dedupped_df.dropna(how="any")
pima_fixed_columns_df.count()

Pregnancies                 836
Glucose                     836
BloodPressure               836
SkinThickness               836
Insulin                     836
BMI                         836
DiabetesPedigreeFunction    836
Age                         836
Outcome                     836
dtype: int64

In [172]:
# part4 Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed
pima_fixed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 836 entries, 0 to 1002
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               836 non-null    float64
 1   Glucose                   836 non-null    float64
 2   BloodPressure             836 non-null    object
 3   SkinThickness             836 non-null    int64
 4   Insulin                   836 non-null    int64
 5   BMI                       836 non-null    object
 6   DiabetesPedigreeFunction  836 non-null    float64
 7   Age                       836 non-null    float64
 8   Outcome                   836 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.3+ KB

In [173]:
# part5 Question 1: Print out the Outliers in each column in the pima_fixed_columns_df dataframe, use the IQR method of outlier detection.

def find_outliers_iqr(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = column[(column < lower_bound) | (column > upper_bound)]
    
    return outliers

# Iterate through each column and print outliers
for column in pima_fixed_columns_df.columns:
    outliers = find_outliers_iqr(pima_fixed_columns_df[column])
    
    if not outliers.empty:
        print(f"Outliers in {column}:")
        print(outliers)
        print("\n")
        break

Outliers in Pregnancies:
5   -100.0
Name: Pregnancies, dtype: float64

In [174]:
# part5Question 2: Use loc to remove outliers in each of the columns that have outliers, 
# save this as pima_outlier_removed_df.
def remove_outliers_iqr(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    return column.loc[(column >= lower_bound) & (column <= upper_bound)]

# Create a copy of the original DataFrame to work with
pima_outlier_removed_df = pima_fixed_columns_df.copy()

# Iterate through each column and remove outliers
for column in pima_fixed_columns_df.columns:
    outliers_removed = remove_outliers_iqr(pima_fixed_columns_df[column])
    pima_outlier_removed_df[column] = outliers_removed
    break
# Display the DataFrame with outliers removed
print(pima_outlier_removed_df)

      Pregnancies  Glucose BloodPressure  SkinThickness  Insulin   BMI  \
0             3.0    167.0            39             28      545  53.0
1            13.0    151.0           107             38    10000   9.2
2             8.0     59.0           109             18      739  59.1
4            10.0    165.0            48             37      737  39.4
5             NaN    142.0            88             39       82  42.7
...           ...      ...           ...            ...      ...   ...
996           6.0    117.0            91             28      212   1.0
997          13.0    163.0            10             37      457   8.0
998           6.0    110.0            26             27      590  20.8
1001          4.0     80.0            24              6      268  48.9
1002          3.0    142.0         Error             10      299   4.8

      DiabetesPedigreeFunction    Age Outcome
0                        2.447  125.0   FALSE
1                        0.507  148.0   FALSE
2                        1.769   91.0    TRUE
4                        0.729   73.0   FALSE
5                        1.369  148.0    TRUE
...                        ...    ...     ...
996                      1.969  137.0   FALSE
997                      2.400  125.0    TRUE
998                      1.185   95.0   FALSE
1001                     0.989   81.0    TRUE
1002                     2.411   71.0    TRUE

[836 rows x 9 columns]

In [175]:
# part5 Question 3:  Print out the row count in the pima_outlier_removed_df and confirm this number is correct.
pima_outlier_removed_df.count()

Pregnancies                 835
Glucose                     836
BloodPressure               836
SkinThickness               836
Insulin                     836
BMI                         836
DiabetesPedigreeFunction    836
Age                         836
Outcome                     836
dtype: int64